# What is the First Day of the Week?

Whether the Gregorian calendar shows Sunday or Monday as the first day of the week depends on where you live.

Do more countries start the week on Sunday or Monday? What about people? What about by continent?

The file `first-day-of-week.csv` shows the first day of the week for each territory. The file `population.csv` shows the population in the year 2020 for each territory in millions, and the file `four-regions.csv` specifies whether each territory is in asia, europe, africa, or the americas.

In [23]:
import pandas as pd
df = pd.read_csv('first-day-of-week.csv')
df.head()

        territory alpha3 first_day   units paper
0     Afghanistan    AFG       sat  metric    A4
1   Aland Islands    ALA       mon  metric    A4
2         Albania    ALB       mon  metric    A4
3         Algeria    DZA       sat  metric    A4
4  American Samoa    ASM       sun  metric    A4

In [24]:
pop = pd.read_csv('population.csv')
pop.head()

  alpha3  population
0    AFG       39.07
1    ALB        2.87
2    DZA       44.04
3    AND        0.08
4    AGO       33.45

In [25]:
regions = pd.read_csv('four-regions.csv')
regions.head()

  alpha3 four_regions
0    AUS         asia
1    BRN         asia
2    KHM         asia
3    CHN         asia
4    FJI         asia

### Project Ideas

- How many territories show Friday, Saturday, Sunday, and Monday as the `first_day` of the week?

- How many people start the week on Friday, Saturday, Sunday, and Monday?
	- Hint: This will involve a `merge`.

- Which of the `four_regions` predominantly start the week on Sunday? On Monday? Are there any regions that are more divided between Sunday and Monday?
	- Hint: This will also involve a `merge`.

In [27]:
# How many territories show Friday, Saturday, Sunday, and Monday as the `first_day` of the week?
fd = df['first_day'].value_counts().reset_index()
fd

  first_day  count
0       mon    186
1       sun     55
2       sat     15
3       fri      1

In [43]:
# How many people start the week on Friday, Saturday, Sunday, and Monday?
# Hint: This will involve a `merge`.
df = pd.read_csv('first-day-of-week.csv')
pop = pd.read_csv('population.csv')

df = df.merge(pop, on='alpha3', how='left')
df = df.groupby('first_day')['population'].sum().reset_index()
df

  first_day  population
0       fri        0.50
1       mon     3600.19
2       sat      431.79
3       sun     3844.08

In [52]:
# Which of the `four_regions` predominantly start the week on Sunday? On Monday? Are there any regions that are more divided between Sunday and Monday?
# Hint: This will also involve a `merge`.
df = pd.read_csv('first-day-of-week.csv')
pop = pd.read_csv('population.csv')
fr = pd.read_csv('four-regions.csv')

# merge the df with fr table then drop na values
df = df.merge(fr, on='alpha3', how='left').dropna()

# group by four_regions and first_day, count the occurrences, reset index
df = df.groupby('four_regions')['first_day'].value_counts().reset_index(name='count')

# sort the values by four_regions ascending and count descending
df = df.sort_values(['four_regions', 'count'], ascending=[True, False])
df

# asia predominantly start the week on sunday, while europe predominantly start the week on monday. europe is more divided between sunday and monday.

   four_regions first_day  count
0        africa       mon     43
1        africa       sun      6
2        africa       sat      5
3      americas       sun     20
4      americas       mon     15
5          asia       mon     27
6          asia       sun     21
7          asia       sat     10
8          asia       fri      1
9        europe       mon     46
10       europe       sun      2