# People on Banknotes

Whose faces appear on banknotes?

The file `people-on-banknotes.csv` contains data about individuals featured on banknotes from 38 countries. This dataset spans all 22 subregions and sub-subregions of the world, as defined by the United Nations Statistics Division's geoscheme.

It profiles 241 people, detailing their occupations and the year they first appeared on a banknote. Additionally, it includes their year of death — or `NaN` if they were still alive when the dataset was compiled.

Most banknotes were issued after the featured individual’s death. The column `first_death_diff` calculates the difference between the year of their first appearance on a banknote and their year of death (or remains `NaN` if the person was still living at the time of curation).

In [1]:
# FOR GOOGLE COLAB ONLY.
# Uncomment and run the code below. A dialog will appear to upload files.
# Upload 'people-on-banknotes.csv'.

# from google.colab import files
# uploaded = files.upload()

In [ ]:
import pandas as pd

df = pd.read_csv('people-on-banknotes.csv')
df

,country,currency,name,gender,occupation,value,first_appearance,death,first_death_diff,currency_code
0,Argentina,Argentine Peso,Eva Perón,F,Activist,100,2012,1952,60.0,ARS
1,Argentina,Argentine Peso,Julio Argentino Roca,M,Head of Gov't,100,1988,1914,74.0,ARS
2,Argentina,Argentine Peso,Domingo Faustino Sarmiento,M,Head of Gov't,50,1999,1888,111.0,ARS
3,Argentina,Argentine Peso,Juan Manuel de Rosas,M,Politician,20,1992,1877,115.0,ARS
4,Argentina,Argentine Peso,Manuel Belgrano,M,Founder,10,1970,1820,150.0,ARS
...,...,...,...,...,...,...,...,...,...,...
274,Venezuela,Venezuelan Bolivar,Francisco de Miranda,M,Military,200,1968,1816,152.0,VES
275,Venezuela,Venezuelan Bolivar,Simón Rodrigues,M,Educator,20,2007,1854,153.0,VES
276,Venezuela,Venezuelan Bolivar,Ezequiel Zamora,M,Military,100,2018,1860,158.0,VES
277,Venezuela,Venezuelan Bolivar,Rafael Urdaneta,M,Head of Gov't,10,2018,1845,173.0,VES
278,Venezuela,Venezuelan Bolivar,José Félix Ribas,M,Military,5,2018,1815,203.0,VES

### Quick cleaning

The same person can appear on multiple banknotes. Below we drop the `value` column and remove duplicate people.

In [35]:
df = df.drop(columns=['value'])
df = df.drop_duplicates(subset="name")
df

,country,currency,name,gender,occupation,first_appearance,death,first_death_diff,currency_code
0,Argentina,Argentine Peso,Eva Perón,F,Activist,2012,1952,60.0,ARS
1,Argentina,Argentine Peso,Julio Argentino Roca,M,Head of Gov't,1988,1914,74.0,ARS
2,Argentina,Argentine Peso,Domingo Faustino Sarmiento,M,Head of Gov't,1999,1888,111.0,ARS
3,Argentina,Argentine Peso,Juan Manuel de Rosas,M,Politician,1992,1877,115.0,ARS
4,Argentina,Argentine Peso,Manuel Belgrano,M,Founder,1970,1820,150.0,ARS
...,...,...,...,...,...,...,...,...,...
274,Venezuela,Venezuelan Bolivar,Francisco de Miranda,M,Military,1968,1816,152.0,VES
275,Venezuela,Venezuelan Bolivar,Simón Rodrigues,M,Educator,2007,1854,153.0,VES
276,Venezuela,Venezuelan Bolivar,Ezequiel Zamora,M,Military,2018,1860,158.0,VES
277,Venezuela,Venezuelan Bolivar,Rafael Urdaneta,M,Head of Gov't,2018,1845,173.0,VES
278,Venezuela,Venezuelan Bolivar,José Félix Ribas,M,Military,2018,1815,203.0,VES

### Project Ideas

- What proportion of individuals featured are male versus female?
	- Hint: Use `value_counts(normalize=True)` to calculate percentages.

- Are writers or politicians more commonly depicted?

- What percentage of featured individuals are musicians?

- What percentage of banknotes were issued before the person’s death?
	- Hint: Look for negative values or NaN in `first_death_diff`.

- Who is the oldest historical figure in the dataset?

- Which countries feature the oldest historical figures on their banknotes?
	- Hint: Group by country and aggregate the year of death using the median. Sort the results.

- What percentage of individuals died at least 100 years before appearing on a banknote?

- Which individuals appeared on a banknote just one year after their death?

In [36]:
# What proportion of individuals featured are male versus female?
# Hint: Use `value_counts(normalize=True)` to calculate percentages.

gender = df['gender'].value_counts(normalize=True).reset_index()
gender

# proportion M:F = 0.78:0.22

  gender  proportion
0      M    0.780083
1      F    0.219917

In [37]:
# Are writers or politicians more commonly depicted?
writers_politicians = df.query('occupation == "Writer" | occupation == "Politician"')
print(writers_politicians.shape[0] / len(df) * 100)
writers_politicians

# there are 72 writers or politicians depicted and occupy 29.88%

29.87551867219917

,country,currency,name,gender,occupation,first_appearance,death,first_death_diff,currency_code
3,Argentina,Argentine Peso,Juan Manuel de Rosas,M,Politician,1992,1877,115.0,ARS
6,Australia,Australian Dollar,Mary Gilmore,F,Writer,1993,1962,31.0,AUD
8,Australia,Australian Dollar,Banjo Paterson,M,Writer,1993,1941,52.0,AUD
9,Australia,Australian Dollar,Edith Cowan,F,Politician,1995,1932,63.0,AUD
41,Canada,Canadian Dollar,James Gladstone (Akay-na-muka),M,Politician,2017,1971,46.0,CAD
...,...,...,...,...,...,...,...,...,...
251,Ukraine,Ukrainian Hryvna,Taras Shevchenko,M,Writer,1992,1841,151.0,UAH
252,Ukraine,Ukrainian Hryvna,Hryhoriy Skovoroda,M,Writer,2006,1794,212.0,UAH
264,Uruguay,Peso Uruguayo,Juana de Ibarbourou,F,Writer,1995,1979,16.0,UYU
266,Uruguay,Peso Uruguayo,Juan Zorrilla de San Martín,M,Writer,1994,1931,63.0,UYU
267,Uruguay,Peso Uruguayo,Alfredo Vásquez Acevedo,M,Politician,1994,1923,71.0,UYU

In [38]:
# What percentage of featured individuals are musicians?
musicians = df.query('occupation == "Musician"')
print(musicians.shape[0] / len(df) * 100)
musicians

# only 4.98% of figures are musicians

4.979253112033195

,country,currency,name,gender,occupation,first_appearance,death,first_death_diff,currency_code
10,Australia,Australian Dollar,Nellie Melba,F,Musician,1996,1931,65.0,AUD
47,Cape Verde,Cape Verdean Escudo,Cesária Évora,F,Musician,2014,2011,3.0,CVE
49,Cape Verde,Cape Verdean Escudo,Codé Di Dona,M,Musician,2014,2010,4.0,CVE
81,Czech Republic,Czech Koruna,Ema Destinnová,F,Musician,1996,1930,66.0,CZK
92,Dominican Republic,Peso Dominicano,José Rufino Reyes y Siancas,M,Musician,2000,1905,95.0,DOP
106,Georgia,Georgian Lari,Zakaria Paliashvili,M,Musician,1995,1933,62.0,GEL
185,Peru,Peruvian Sol,María Isabel Granda y Larco,F,Musician,2021,1983,38.0,PEN
213,Serbia,Serbian Dinar,Stevan Stevanovic Mokranjac,M,Musician,2005,1914,91.0,RSD
226,Sweden,Swedish Krona,Birgit Nilsson,F,Musician,2016,2005,11.0,SEK
229,Sweden,Swedish Krona,Evert Taube,M,Musician,2015,1976,39.0,SEK
245,Turkey,Turkish Lira,Itri (Buhurizade Mustafa Efendi),M,Musician,2009,1712,297.0,TRY
265,Uruguay,Peso Uruguayo,Eduardo Fabini,M,Musician,1994,1950,44.0,UYU

In [39]:
# What percentage of banknotes were issued before the person’s death?
# Hint: Look for negative values or NaN in `first_death_diff`.

after_death = df.query('first_death_diff < 0 | first_death_diff == "NaN"')
print(after_death.shape[0] / len(df) * 100)
after_death

# only 3.73% of the figures are issued on the banknotes b4 their death

3.7344398340248963

,country,currency,name,gender,occupation,first_appearance,death,first_death_diff,currency_code
14,Bangladesh,Bangladeshi Taka,Bangabandhu Sheikh Mujibur Rahman,M,Founder,1972,1975,-3.0,BDT
119,Indonesia,Indonesian Rupiah,Soekarno,M,Head of Gov't,1945,1970,-25.0,IDR
135,Jamaica,Jamaican Dollar,Michael Norman Manley,M,Head of Gov't,1970,1992,-22.0,JMD
150,Malawi,Malawian Kwacha,Dr. Hastings Kamuzu Banda,M,Head of Gov't,1971,1997,-26.0,MWK
151,Malawi,Malawian Kwacha,Rose Lomathinda Chibambo,F,Politician,2012,2016,-4.0,MWK
168,New Zealand,New Zealand Dollar,Edmund Hillary,M,Other,1992,2008,-16.0,NZD
182,Papua New Guinea,Papua New Guinean Kina,Michael Somare,M,Founder,1989,2021,-32.0,PGK
216,South Africa,South African Rand,Nelson Mandela,M,Head of Gov't,2012,2013,-1.0,ZAR
235,Turkey,Turkish Lira,Kemal Atatürk,M,Founder,1927,1938,-11.0,TRY

In [ ]:
# Who is the oldest historical figure in the dataset? 
df = df.dropna(subset=['death'])
oldest = df.query('death == death.min()')
oldest

# the oldest historical figure is Hannibal

,country,currency,name,gender,occupation,first_appearance,death,first_death_diff,currency_code
234,Tunisia,Tunisian Dinar,Hannibal,M,Military,2013,-183.0,2196.0,TND

In [ ]:
# Which countries feature the oldest historical figures on their banknotes?
# Hint: Group by country and aggregate the year of death using the median. Sort the results.

oldest_country = df.groupby('country')['death'].median().sort_values(ascending=True).reset_index()
oldest_country

# South Korea features the oldest historical figures on their banknotes
# the median year of death of these figures is 1560.5

                  country   death
0             South Korea  1560.5
1   São Tomé and Príncipe  1779.5
2                 Ukraine  1817.5
3           United States  1826.0
4                 Bolivia  1839.5
5                 Iceland  1845.0
6               Venezuela  1849.5
7          Czech Republic  1869.0
8                   Chile  1879.0
9               Argentina  1888.0
10                 Mexico  1892.5
11                  Japan  1901.0
12                England  1902.5
13     Dominican Republic  1905.0
14                Georgia  1915.0
15                 Serbia  1927.0
16                Uruguay  1931.0
17                 Turkey  1936.0
18              Australia  1936.5
19             Kyrgyzstan  1942.0
20                Tunisia  1943.5
21                 Canada  1943.5
22            New Zealand  1943.5
23                   Peru  1945.0
24             Costa Rica  1947.0
25              Indonesia  1947.5
26               Colombia  1948.0
27            Philippines  1948.0
28                 Israel  1956.5
29                 Malawi  1966.5
30                Jamaica  1967.0
31             Bangladesh  1975.0
32                  China  1976.0
33                Nigeria  1976.0
34                 Sweden  1996.0
35             Cape Verde  2010.0
36           South Africa  2013.0
37       Papua New Guinea  2021.0

In [70]:
# What percentage of individuals died at least 100 years before appearing on a banknote?

died_100 = df.query('first_death_diff >= 100').sort_values('first_death_diff', ascending=False)
print(died_100.shape[0] / len(df) * 100)
died_100

# 33.47% of figures died at least 100 years before they are appearing on a banknote

33.47280334728033

,country,currency,name,gender,occupation,first_appearance,death,first_death_diff,currency_code
234,Tunisia,Tunisian Dinar,Hannibal,M,Military,2013,-183.0,2196.0,TND
256,Ukraine,Ukrainian Hryvna,Volodymyr the Great,M,Monarch,1992,1015.0,977.0,UAH
255,Ukraine,Ukrainian Hryvna,Yaroslav the Wise,M,Monarch,1992,1054.0,938.0,UAH
149,Kyrgyzstan,Kyrgystani Som,Jusup Balasagyn,M,Writer,2000,1077.0,923.0,KGS
113,Georgia,Georgian Lari,King David IV,M,Monarch,1995,1125.0,870.0,GEL
...,...,...,...,...,...,...,...,...,...
96,Dominican Republic,Peso Dominicano,Salomé Ureña,F,Writer,2000,1897.0,103.0,DOP
95,Dominican Republic,Peso Dominicano,Gregorio Luperon,M,Head of Gov't,2000,1897.0,103.0,DOP
115,Iceland,Icelandic Krona,Jón Sigurdsson,M,Founder,1981,1879.0,102.0,ISK
162,Mexico,Peso Mexicano,Benito Juárez,M,Head of Gov't,1973,1872.0,101.0,MXN
94,Dominican Republic,Peso Dominicano,Francisco del Rosario Sánchez,M,Founder,1962,1861.0,101.0,DOP

In [72]:
# Which individuals appeared on a banknote just one year after their death?

died_1 = df.query('first_death_diff == 1')
died_1

,country,currency,name,gender,occupation,first_appearance,death,first_death_diff,currency_code
63,Colombia,Colombian Peso,Gabriel García Márquez,M,Writer,2015,2014.0,1.0,COP
173,Nigeria,Nigerian Naira,General Murtala Mohammed,M,Head of Gov't,1977,1976.0,1.0,NGN
190,Philippines,Philippine Piso,Corazon C. Aquino,F,Head of Gov't,2010,2009.0,1.0,PHP
191,Philippines,Philippine Piso,Manuel A. Roxas,M,Head of Gov't,1949,1948.0,1.0,PHP