# Jean pockets

Are women jean pockets ridiculously small? Let's look at the data!

The file `jean-pocket-measurements.csv` shows pocket measurements for 20 popular brands.
Four pairs of jeans from each brand were measured: men's and women's skinny and straight styles. All jeans were designated a 32-inch waistband. 

The following measurements are included:
- `height_front`: maximum front pocket height (cm)
- `height_back`: maximum back pocket height (cm)
- `width_front`: maximum front pocket width (cm)
- `width_back`: maximum back pocket width (cm)

In [1]:
import pandas as pd
df = pd.read_csv('jean-pocket-measurements.csv')
df.head()

,brand,style,gender,height_front,width_front,height_back,width_back
0,3fe5003e,skinny,women,14.5,16.5,15.0,13.7
1,3fe5003e,straight,women,14.5,16.0,15.5,13.0
2,790c6eab,skinny,women,13.0,14.5,15.5,13.5
3,790c6eab,straight,women,13.0,14.5,14.5,13.0
4,26aaf627,skinny,women,13.0,14.0,14.0,14.2

### Project Ideas

- What is the average difference in pocket `height_front` between women's and men's jeans?

- Is there a significant difference in pocket `height_front` between skinny and straight styles within the same gender?

- How do back pocket sizes compare between women's and men's jeans?

- Measure your phone's height. What percentage of women's and men's jeans can comfortably fit your phone in the pockets?

In [ ]:
# What is the average difference in pocket `height_front` between women's and men's jeans?

# calc the mean of height_front
height_front = df.groupby('gender')['height_front'].mean().reset_index()
print(height_front)

# calc the diff btw men and women height_front mean 
men = height_front.loc[height_front['gender'] == 'men', 'height_front'].values[0]
women = height_front.loc[height_front['gender'] == 'women', 'height_front'].values[0]
print(men - women)

# the avg diff in height_front is 8.803cm

  gender  height_front
0    men       23.1300
1  women       14.3275
8.802500000000002

In [22]:
# Is there a significant difference in pocket `height_front` between skinny and straight styles within the same gender?

# men skinny & straight jeans
men = df.query('gender == "men"').groupby('style')['height_front'].mean().reset_index()
print(f"Men' jeans:\n{men}")
print(men['height_front'].values[0] - men['height_front'].values[1])

# women skinny & straight jeans
women = df.query('gender == "women"').groupby('style')['height_front'].mean().reset_index()
print(f"\nWomen' jeans:\n{women}")
print(women['height_front'].values[0] - women['height_front'].values[1])

# the diff between height_front between skinny and staight is slightly significant in women jeans

Men' jeans:
      style  height_front
0    skinny        23.185
1  straight        23.075
0.10999999999999943

Women' jeans:
      style  height_front
0    skinny        14.270
1  straight        14.385
-0.11500000000000021

In [59]:
# How do back pocket sizes compare between women's and men's jeans?

df['size_back'] = df.eval('height_back * width_back')
size_back = df.groupby(['gender', 'style'])['size_back'].mean().reset_index()
size_back

# back pocket size: men straight > men skinny > women straight > women skinny

  gender     style  size_back
0    men    skinny   216.3975
1    men  straight   223.0200
2  women    skinny   199.4900
3  women  straight   204.1525

In [58]:
df['size_front'] = df.eval('height_front * width_front')
size_front = df.groupby(['gender', 'style'])['size_front'].mean().reset_index()
size_front

  gender     style  size_front
0    men    skinny    372.9720
1    men  straight    383.8450
2  women    skinny    215.2950
3  women  straight    220.6375

In [ ]:
# Measure your phone's height. What percentage of women's and men's jeans can comfortably fit your phone in the pockets?
ip15_height = 14.76
ip15_width = 7.16

women = df.query('gender == "women"')
yules = women.query('height_front > @ip15_height & width_front > @ip15_width').reset_index()
print(yules.shape[0] / len(women) * 100)
yules

# only 30% of jeans can fit in my phone TT

30.0

,index,brand,style,gender,height_front,width_front,height_back,width_back,size_back,size_front
0,5,26aaf627,straight,women,15.5,16.5,14.5,12.5,181.25,255.75
1,9,7398d4c6,straight,women,15.0,15.5,14.5,13.0,188.50,232.50
2,21,1428e336,straight,women,15.0,16.7,15.5,15.0,232.50,250.50
3,22,b144fa06,skinny,women,15.7,16.0,16.5,14.0,231.00,251.20
4,23,b144fa06,straight,women,15.5,15.2,15.5,15.0,232.50,235.60
5,25,dfc9a4ab,skinny,women,19.0,14.5,15.0,12.5,187.50,275.50
6,32,57ed7595,skinny,women,19.0,14.0,15.0,12.5,187.50,266.00
7,33,57ed7595,straight,women,16.0,13.5,15.0,13.0,195.00,216.00
8,34,33147c75,skinny,women,21.5,15.5,16.0,12.5,200.00,333.25
9,35,33147c75,straight,women,18.0,18.5,16.0,14.0,224.00,333.00
10,37,afb94ef0,straight,women,15.0,15.0,16.0,13.2,211.20,225.00
11,76,49d2b8a1,straight,women,15.0,16.0,14.5,13.5,195.75,240.00

In [ ]:
# Measure your phone's height. What percentage of women's and men's jeans can comfortably fit your phone in the pockets?
ip15_height = 14.76
ip15_width = 7.16

men = df.query('gender == "men"')
yules = men.query('height_front > @ip15_height & width_front > @ip15_width').reset_index()
print(yules.shape[0] / len(men) * 100)
yules

# but 100% of men jeans can fit in my phone (im gonna be a man)

100.0

,index,brand,style,gender,height_front,width_front,height_back,width_back,size_back,size_front
0,38,3fe5003e,skinny,men,26.0,17.0,17.0,14.0,238.00,442.00
1,39,3fe5003e,straight,men,24.5,18.0,16.0,15.2,243.20,441.00
2,40,790c6eab,skinny,men,23.0,15.5,16.0,15.0,240.00,356.50
3,41,790c6eab,straight,men,24.0,17.5,17.0,15.0,255.00,420.00
4,42,70b9ccb6,skinny,men,22.5,14.0,17.0,14.5,246.50,315.00
5,43,70b9ccb6,straight,men,25.5,17.5,16.0,14.0,224.00,446.25
6,44,ba56feb3,skinny,men,22.0,15.0,16.5,14.2,234.30,330.00
7,45,ba56feb3,straight,men,21.5,18.0,17.0,15.5,263.50,387.00
8,46,0d014017,skinny,men,25.5,14.5,16.5,13.0,214.50,369.75
9,47,0d014017,straight,men,26.0,16.5,15.0,13.2,198.00,429.00
10,48,26aaf627,skinny,men,22.5,15.5,14.5,13.0,188.50,348.75
11,49,26aaf627,straight,men,21.5,16.0,15.0,14.0,210.00,344.00
12,50,b144fa06,skinny,men,20.5,15.5,16.0,14.0,224.00,317.75
13,51,b144fa06,straight,men,21.5,16.0,16.2,13.5,218.70,344.00
14,52,7398d4c6,skinny,men,21.0,16.7,15.2,14.5,220.40,350.70
15,53,7398d4c6,straight,men,22.5,17.0,16.2,13.0,210.60,382.50
16,54,9cc5821d,skinny,men,21.0,16.5,15.5,14.5,224.75,346.50
17,55,9cc5821d,straight,men,21.5,16.5,16.0,14.0,224.00,354.75
18,56,59133a58,skinny,men,26.2,15.2,15.0,13.0,195.00,398.24
19,57,59133a58,straight,men,21.0,16.5,16.0,13.5,216.00,346.50
20,58,2abe57bc,skinny,men,25.0,17.0,15.0,12.5,187.50,425.00
21,59,2abe57bc,straight,men,22.5,14.5,15.5,13.5,209.25,326.25
22,60,ce93e0bd,skinny,men,24.5,15.5,15.5,13.0,201.50,379.75
23,61,ce93e0bd,straight,men,24.5,17.0,14.0,12.0,168.00,416.50
24,62,466b98ca,straight,men,23.0,17.5,15.5,14.0,217.00,402.50
25,63,466b98ca,skinny,men,22.0,17.5,15.5,13.5,209.25,385.00
26,64,dfc9a4ab,skinny,men,20.0,14.5,16.5,13.5,222.75,290.00
27,65,dfc9a4ab,straight,men,21.5,16.5,16.0,14.5,232.00,354.75
28,66,57ed7595,skinny,men,21.0,14.5,15.0,11.5,172.50,304.50
29,67,57ed7595,straight,men,22.0,16.5,17.0,13.5,229.50,363.00
30,68,33147c75,straight,men,22.5,16.0,16.0,13.0,208.00,360.00
31,69,33147c75,skinny,men,22.0,17.0,17.5,14.0,245.00,374.00
32,70,1428e336,skinny,men,25.0,17.0,15.0,12.5,187.50,425.00
33,71,1428e336,straight,men,22.5,18.2,17.0,13.0,221.00,409.50
34,72,7b34fdbd,skinny,men,25.5,16.5,16.5,14.0,231.00,420.75
35,73,7b34fdbd,straight,men,24.5,16.2,17.5,15.0,262.50,396.90
36,74,afb94ef0,skinny,men,27.5,17.5,17.0,13.0,221.00,481.25
37,75,afb94ef0,straight,men,28.0,13.0,16.7,14.5,242.15,364.00
38,78,49d2b8a1,straight,men,21.0,18.5,16.0,13.0,208.00,388.50
39,79,49d2b8a1,skinny,men,21.0,19.0,16.0,14.0,224.00,399.00